/* header */

.header {
  background-color: $white-color;
  border-bottom: $border-white;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $text-color;
  transition: 0.3s;
  padding: 31px 0;
}

/* Display flax */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list {
  display: flex;
  margin-right: 275px;
  margin-left: 93px;
}

.navigation-list li:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: $primary-color;
}

.navigation-list-link:hover::after,
.navigation-list-link:focus::after {
  color: $primary-color;
}

.navigation-list-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $primary-color;
  transition: width, cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  opacity: 0;
}
.navigation-logo-color {
  color: $text-color;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 1;
  background-color: $primary-color;
  border-radius: 2px;
}

.current {
  color: $primary-color;
}

.logo {
  display: flex;
  font-family: $pretty-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $primary-color;
}

/* ховер тел почта иконки */
.communication {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-mail,
.main-tel {
  text-decoration: none;
  color: $grey-color;
  transition: 0.3s;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.communication .communication-icon {
  margin-right: 10px;
  fill: $grey-color;
  transition: 0.3s;
}
.communication li:nth-child(2) {
  padding-left: 30px;
}

ul.communication li:hover a,
ul.communication li a:focus {
  color: $primary-color;
}
ul.communication li:hover a .communication-icon,
ul.communication li a:focus .communication-icon {
  fill: $primary-color;
}
